.footer {
  padding: 38px 10px 47px;
  text-align: center;
  background-color: $footerBackgroundColor;
  &__title {
    margin-bottom: 8px;
    font-size: $titleFooterMobileFont;
    @extend .posts__title--big;
    color: $footerLightTextColor;
  }
  &__text {
    margin-bottom: 26px;
    font-size: $footerMobileFont;
    line-height: 20px;
    color: $footerDarkTextColor;
  }
  &__contact {
    display: block;
    margin-top: 25px;
    padding: 0px 45px 0px;
    font-size: $titleFooterMobileFont;
    line-height: 24px;
    color: $footerDarkTextColor;
  }
}
