@media (min-width: $minWidthTablet) {
  .header {
    flex-direction: column;
    padding-top: 41px;
    line-height: 22px;
    &__img {
      margin-bottom: 56px;
    }
  }

  .menu {
    @include flex-center;
    width: 100%;
    &__list {
      @include flex-space-between;
      margin-bottom: 20px;
      padding: 0 11%;
      width: 100%;
      position: static;
      visibility: visible;
      background: none;
      a {
        padding: 0px;
        &:hover {
          background: none;
        }
      }
    }
  }

  .burger-button {
    display: none;
  }

  .post {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 32px;
    padding-right: 24%;
    &:last-child {
      display: flex;
    }
    &__text {
      display: block;
    }
    &__comments {
      margin-bottom: 13px;
      font-size: $commentFont;
    }
  }

  .post > img {
    margin-right: 21px;
  }

  .posts {
    padding-bottom: 28px;
    &__title {
      margin-bottom: 26px;
      font-size: $titleFont;
    }
    &__subtitle {
      margin-top: 8px;
      font-size: $titleFont;
    }
    &__wrapper {
      @include flex-space-between;
      flex-wrap: wrap;
    }
  }

  .instagram {
    padding-top: 47px;
    padding-bottom: 50px;
    width: 100%;
    background-color: $instagramBackgroundColor;
    &__text {
      margin-bottom: 35px;
      font-size: $titleFont;
    }
    &__text--hidden {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
    }
    &__img:nth-child(-n + 3) {
      display: block;
      width: 32.5%;
    }
    &__wrapper {
      @include flex-space-between;
      flex-wrap: wrap;
    }
  }

  .footer {
    padding: 58px 50px 59px;
    &__title {
      margin-bottom: 22px;
      font-size: $titleFont;
    }
    &__text {
      margin-bottom: 37px;
      font-size: $titleFont;
      line-height: 26px;
    }
    &__contact {
      margin-top: 37px;
      font-size: $titleFont;
    }
  }
}

@media (min-width: $minWidthDesktop) {
  .header {
    padding-top: 45px;
    &__img {
      margin-top: 31px;
      margin-bottom: 66px;
    }
  }

  .menu__list {
    padding: 0 16%;
  }

  .posts {
    padding-bottom: 37px;
  }
  .post {
    padding-right: 15px;
    width: 49%;
  }

  .instagram {
    &__text {
      margin-bottom: 27px;
    }
    &__img:nth-child(-n + 4) {
      display: block;
      width: 24.5%;
    }
  }

  .footer {
    padding: 66px 248px 75px;
    &__title {
      margin-bottom: 18px;
    }
    &__text {
      margin-bottom: 35px;
    }
    &__contact {
      margin-top: 32px;
    }
  }
}
