@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin burger-button-element {
  display: block;
  content: "";
  position: absolute;
  left: 0px;
}

@mixin burger-button-type {
  height: 2px;
  width: 17px;
  border-radius: 3px;
  background: #ffffff;
}
