.posts {
  &__title {
    margin-bottom: 23px;
    font-size: $titleMobileFont;
    color: $accentTextColor;
    &--big {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.post {
  &__subtitle {
    display: block;
    margin: 19px 0 13px;
    font-size: $titleMobileFont;
    font-weight: bold;
    color: $accentTextColor;
  }
  &__comments {
    display: block;
    margin-bottom: 33px;
    font-size: $commentMobileFont;
    color: $lightTextColor;
  }
  &__text {
    display: none;
    font-size: $titleMobileFont;
    line-height: 28px;
    color: $darkTextColor;
  }
  &:last-child {
    display: none;
  }
}
