.instagram {
  padding-top: 36px;
  padding-bottom: 42px;
  &__title {
    @include flex-space-between;
  }
  &__text {
    margin-bottom: 23px;
    font-size: $titleMobileFont;
    color: $accentTextColor;
    @extend .posts__title--big;
  }
  &__text--hidden {
    display: none;
    font-size: $instagramPageFont;
    color: $accentTextColor;
  }
  &__img:first-child {
    display: block;
  }

  &__img {
    display: none;
    width: 100%;
  }
}
