$footerBackgroundColor:#000000;
$instagramBackgroundColor: #f7f7f7;
$accentTextColor: #4e4e4e;
$hoverTextColor: #57a4a4;
$hoverColor: #e5e5e5;
$lightTextColor: #7c7c7c;
$darkTextColor: #5c5c5c;
$footerLightTextColor: #ffffff;
$footerDarkTextColor: #b9b9b9;
$titleFont: 16px;
$titleMobileFont: 14px;
$instagramPageFont: 13px;
$commentMobileFont: 11px;
$commentFont: 12px;
$menuFont: 11px;
$titleFooterMobileFont: 14px;
$footerMobileFont: 12px;
$minWidthTablet: 768px;
$minWidthDesktop: 1200px;
